.footer {
  & div {
    background: var(--Footer-color-top);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 2.3rem;

    & p {
      color: #fff;
      margin: 0 2rem 0 0;
      @media only screen and (min-width: 70em) {
        font-size: 2rem;
      }
      & + a {
        color: #fff;
        text-decoration: none;
        @media only screen and (min-width: 70em) {
          font-size: 2rem;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  & ul {
    padding: 1.5rem;
    background-color: var(--Footer-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & li {
      padding: 1rem;
      & a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.671);

        &:hover {
          color: #fff;
        }
      }
    }
  }

  & div:last-child {
    background-color: var(--Footer-color);
    font-size: 1.2rem;
    & a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.671);

      &:hover {
        color: #fff;
      }
      &:first-child {
        margin: 0 2rem 0 0;
      }

      &:last-child {
      }
    }
  }
}

.footer-links {
  background: var(--Footer-color);
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(3, max-content) min-content max-content;
  grid-template-rows: max-content 1fr;

  padding: 1rem 0 3rem 0.5rem;

  @media only screen and (min-width: 75em) {
    justify-content: center;
  }

  & div {
    background: var(--Footer-color);
    display: flex;
    flex-direction: column;
    color: #fff;
    align-self: start;

    & h1 {
      @media only screen and (min-width: 70em) {
        font-size: 1.9rem;
      }
    }

    & ul {
      & li {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & li:not(:last-child) {
        padding: 0 0 1rem 0;
      }
    }
  }

  & a {
    color: rgba(255, 255, 255, 0.671);
    font-size: 1.5rem;
    @media only screen and (min-width: 70em) {
      font-size: 1.5rem;
    }

    &:hover {
      color: #fff;
    }
  }

  & > h1 {
    grid-column: 1/-1;
    grid-row: 2/3;
    color: #fff;
    font-size: 1.5rem;
    margin: 0 0 0 2rem;
    @media only screen and (min-width: 70em) {
      font-size: 1.3rem;
    }
    @media only screen and (min-width: 75em) {
      font-size: 1.5rem;
    }
  }

  & div:first-child {
    grid-column: 1/2;
    grid-row: 1/2;

    //2nd div
    & + div {
      grid-column: 2/3;
      grid-row: 1/2;

      // 3rd div
      & + div {
        grid-column: 3/4;
        grid-row: 1/2;

        //4th div
        & + div {
          grid-column: 4/5;
          grid-row: 1/2;
          & ul {
            & li {
              & a {
                color: rgba(255, 255, 255, 0.671);
              }
            }
          }

          //5th div
          & + div {
            grid-column: 5/6;
            grid-row: 1/2;

            & h1 {
            }

            & ul {
              & li {
                & a {
                }
              }
            }
          }
        }
      }
    }
  }
}
